@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: $background-color-primary;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #5a5a5a;
  }
}
