// ============ colors
$color-primary: #1ad15c;
$color-text-primary: #ffffff;
$color-text-secondary: #9e9e9e;

// ============ background-colors
$background-color-primary: #121212;
$background-color-secondary: #272727;
$background-color-tertiary: #282828;
$background-color-quatenary: #040404;

// ============ fonts-size
$font-x-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;

// ============ fonts-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
